.profile-picture {
    border-radius: 50%;
}

.home-btn {
    background-color: #fca311 !important;
}

.vcenterfull {
    height: 100vh;
}

.vcentermid {
    height: 75vh;
}

article {
    background-color: #ffffff !important;
    border-radius: 20px;
    padding: 20px;
}

p {
    margin-bottom: 0px !important;
}

i {
    padding-left: 10%;
    padding-right: 10%;
}



@media only screen and (min-width: 992px) {
    .skills {
        min-width: 976.01px;
    }
}

@media only screen and (min-width: 1200px) {
    .skills {
        min-width: 1156.01px;
    }
}

@media only screen and (min-width: 1400px) {
    .skills {
        min-width: 1336.01px;
    }
}

.card {
    border: none !important;
}